extends layout

block content
  div#output
    imput#boton.btn(type'Button', value:'Calcula Velocidad') Calcula Velocidad
    canvas#tablero( width="200", height='20')
    h5#velocidad 
    script(type='text/javascript', src='js/efectoD.js')
