footer#footer
          h4 Andres Felipe Bayona Chinchilla 
          a(href='https://github.com/CrudamCode/ondako')
            img( src='img/git.svg')
            | @crudamcode
          a(href='http://www.uis.edu.co/webUIS/es/index.jsp')
            img#uislogo( src='img/uislogo.svg')  
